{% load static %}
{% comment %}
<footer>
    <div class="footer">
    <div class="california">
        <img class="brand"  src="{% static 'img/IMAGE (7).png' %}" href="{% url 'main' %}" alt="">
        <p>Sign up for texts to be notified about<br>our best offers on the perfect gifts.</p>
    </div>
    <div class="ali">
        <div class="Allproducts">
            <h4>Allproducts</h4>
            <div class="phones">
                <a href="#">Phones<br></a>
                <a href="#">Watch<br></a>
                <a href="#">Tablet<br></a>
                <a href="#">Laptops</a>
            </div>
        </div>
        <div class="Company">
            <h4>Company</h4>
            <div class="phones">
                <a href="#">About<br></a>
                <a href="#">Support</a>
            </div>
        </div>
        <div class="Support">
            <h4>Support</h4>
            <div class="phones">
                <a href="#">PhoStyle Guidenes<br></a>
                <a href="#">Licensing<br></a>
                <a href="#">Change Log<br></a>
                <a href="#">Contact</a>
            </div>
        </div>
        <div class="FollowUs">
            <h4>Follow</h4>
            <div class="phones">
                <a href="https://www.instagram.com/">Instagram<br></a>
                <a href="https://www.facebook.com/">Facebook<br></a>
                <a href="https://ru.linkedin.com/">LinkedIn<br></a>
                <a href="https://www.youtube.com/">Youtube<br></a>
            </div>
        </div>
    </div>
    </div>
    <div class="ne">
        <p>Made By: Azwedo</p> 
        <span><br></span>
        <p>Powered by: Webflow</p>
    </div>
</footer> {% endcomment %}

<footer style="display:flex;background: #E8E8E8; width: 1263px; height: 395px; padding-top: 40px;padding-left: 40px; position:relative">
    <div class="continer" style="display:flex;">
        <div class="kompaniya" >
            <p class="zip">Компания</p>
            <a class="azip" href="#">О нас<br></a>
            <a class="azip" href="#">Магазины<br></a>
            <a class="azip" href="#">Блог<br></a>
            <a class="azip" href="#">Вакансии<br></a>
            <a class="azip" href="#">Контакты<br></a>
            <a class="azip" href="#">Партнерская программа</a>
        </div>
        <div class="pokupatelyam" style="margin-left: 74px;">
            <p class="azip" class="zip">Покупателям</p>
            <a class="azip" href="#">Как сделать заказ<br></a>
            <a class="azip" href="#">Оплата и доставка<br></a>
            <a class="azip" href="#">Статус заказа<br></a>
            <a class="azip" href="#">Возврат<br></a>
            <a class="azip" href="#">Юридическая информация<br></a>
            <a class="azip" href="#">Политика персональных данных</a>
        </div>
        <div class="nasivyazi" style="margin-left: 55px;">
            <p class="zip">На связи 24/7</p>
            <div class="telefon" style="display:flex; gap:12px; margin-bottom:15px;">
                <img src="{% static 'img/Vector (4).png' %}" alt="">
                <p>+7 (812) 834-84-88</p>
            </div>
            <div class="pochta">
                <img src="{% static 'img/Group 45.png' %}"alt="">
            </div>
        </div>
        <div class="podpisatsiya">
            <div class="podpis">
                <p class="podpisp">Подписаться на новости и акции</p>
                <div class="email">
                    <input class="control" type="text" placeholder="E-mail" >
                    <button>Подписаться</button>
                <div>
                <div class="psa">
                    <p>Нажимая «Подписаться», я даю согласие на получение  <br>рекламной рассылки и обработку <span>персональных данных</span></p>
                </div>
            </div>
            <div class="my">
                <img src="{% static 'img/socials.png' %}" alt="">
            </div>
            <div class="my1">
                <img src="{% static 'img/Group 40.png' %}" alt="">
            </div>
            
        </div>
        <h1>© Проект, 2024</h1>
    </div>
</footer>